docker.enabled = true
process.executor = 'local'

process {
  publishDir = [
    path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    mode: 'copy',
    saveAs: { filename -> filename == 'versions.yml' ? null : filename }
  ]
}

params {
  outdir            = 'results'

  gatk_docker       = 'broadinstitute/gatk:4.0.11.0'
  ref_fasta         = 's3://broad-references/hg38/v0/Homo_sapiens_assembly38.fasta'
  ref_fai           = 's3://broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.fai'
  ref_dict          = 's3://broad-references/hg38/v0/Homo_sapiens_assembly38.dict'
  germline_resource = 's3://project-e4f45b6a-e2b0-4ddb-a1d5-b276c414af05/resources/data/references/germline_resource/somatic-hg38-af-only-gnomad.hg38/germline_resource.vcf.gz'
  intervals         = 's3://project-e4f45b6a-e2b0-4ddb-a1d5-b276c414af05/resources/data/references/genome_bed/broad_wgs_calling_regions_hg38_interval_list/regions.bed'
  scatter_count     = 20
  m2_extra_args     = ''
  cpu               = 4
  mem               = '16 GB'

  tumor_reads           = null
  tumor_reads_index     = null
  normal_reads          = null
  normal_reads_index    = null
  force_call_file       = null
  force_call_file_index = null
}