
process {
  executor = 'awsbatch'

  withName: split_intervals {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = 2
    memory = { 8.GB * task.attempt }
  }

  withName: subset_tumor_per_shard {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = 2
    queue        = "${PW_ONDEMAND_JOB_QUEUE}"
    memory = { 8.GB * task.attempt } 
  }

  withName: mutect_wrapper {
    errorStrategy = 'retry'
    maxRetries = 3
    // increase memory each attempt
    memory = { ((params.mem_gb ?: 8) as Integer).GB * task.attempt }   // 16GB, 32GB, 48GB...
    cpus   = 4
  }

  withName: gather_vcfs {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = 1
    memory = { 4.GB * task.attempt } 
  }

  
}

aws {
  region = 'us-east-1'
}