
process {
  executor = 'awsbatch'

  withName: split_intervals {
    errorStrategy = 'terminate'
    maxRetries = 2
    cpus   = { 2 * task.attempt } 
    memory = 16.GB
  }

  withName: subset_tumor_per_shard {
    errorStrategy = 'terminate'
    maxRetries = 2
    cpus   = { 4 * task.attempt } 
    memory = 32.GB
  }

  withName: mutect_wrapper {
    errorStrategy = 'terminate'
    maxRetries = 2
    stageInMode = 'symlink'
    // increase memory each attempt
    memory = { ((params.mem_gb ?: 8) as Integer).GB * task.attempt }   // 16GB, 32GB, 48GB...
    cpus   = 1
  }

  withName: gather_vcfs {
    errorStrategy = 'terminate'
    maxRetries = 2
    cpus   = { 2 * task.attempt } 
    memory = 16.GB
  }

  
}

aws {
  region = 'us-east-1'
}